body {
    background-color: blue;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "small medium large";

}

.container div {
    height: 200px;
    text-align:center;


}
#small {
    grid-area: small;
    background-color: yellow;
}


#medium {
    grid-area: medium;
    background-color: orange;

}

#large {
    grid-area: large;
    background-color: white;
}
@media only screen and (max-width: 300px) {
    body {
        background-color: red;

    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 200px);
        grid-template-areas:"small"
                            "medium"
                            "large";
    }
}

@media only screen and (min-width: 301px) and (max-width: 768px) {
    body {
        background-color: green;
    }
    .container {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "small medium"
                             " large large";
    }
}



